
:root{
    --maincolor : rgb(0, 0, 0) ; 
}

/* スマホ用のスタイル */
@media (max-width: 600px) {
    .container {
        width: 100%-10%;
        height: 300px;  
        margin: 50px 10%;/*アイテム同士の幅*/
        border: none;
        border-radius: 10px; /* 角を丸くする */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: rgb(255, 255, 255) ; 
        overflow: hidden;
        position: relative;
    }

    .container .image {
        width: 100%;
        height: 125px;
        background-color: #f0f0f0;
        background-size: cover;
        background-position: center;
    }
    
    .container .content {
        height: 100vh; 
        text-align: center;
        padding: 10px;
    }
    
    .container .title {
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--maincolor);
    }
    
    .container .description {
        font-size: 11px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--maincolor);
    }
    /*ボタン*/
    .container .button {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        color: var(--maincolor);
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px; /* 角を丸くする */
        margin: 0px 5px;
    }
    .container .button:hover {
        color: white;
        background-color: var(--maincolor);
    }
}
/* PC用のスタイル */
@media (min-width: 600px) {
    .container {
        width: 200px;
        height: 300px;
        margin: 10px;/*アイテム同士の幅*/
        border: none;
        border-radius: 10px; /* 角を丸くする */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: rgb(255, 255, 255) ; 
        overflow: hidden;
        display: inline-block;/*横並び*/
        position: relative;
    }

    .container .image {
        width: 100%;
        height: 105px;
        background-color: #f0f0f0;
        background-size: cover;
        background-position: center;
    }
    
    .container .content {
        height: 100vh; 
        text-align: center;
        padding: 10px;
    }
    
    .container .title {
        font-weight: bold;
        text-align: left;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--maincolor);
    }
    
    .container .description {
        font-size: 11px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--maincolor);
    }
    /*ボタン*/
    .container .button {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        color: var(--maincolor);
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px; /* 角を丸くする */
        margin: 0px 5px;
    }
    .container .button:hover {
        color: white;
        background-color: var(--maincolor);
    }
}