
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvasContainer {
    display: flex;
}
#stage {
    margin-left: -301px;
    float: right;
    text-align:"right";
}
#gameCanvas {
    border: 1px solid #000;
}
#info {
    margin-left: 301px;
    float: left;
    text-align:"left";
}